:root {
  --branding-color: #14f1d9;
  --secondary-color: #f9f7fe;
  --text-heading-color: #272142;
  --text-body-color: #6c757d;
  --default-font-family: "Poppins", sans-serif;
  --gradient: radial-gradient(
    123.29% 71.1% at -4.83% 82.97%,
    #98f9d4 0%,
    #68c6c2 100%
  );
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--default-font-family);
  font-weight: normal;
}
h2 {
  font-size: 60px;
  font-weight: 700;
}
h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 65px;
}
h4 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--text-body-color);
}
a {
  text-decoration: none;
  color: var(--text-body-color);
  font-weight: 500;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}
.logo {
  max-width: 295px;
  margin-top: 20px;
}
nav {
  padding: 20px 135px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 55px;
  margin-left: 15px;
}
.hero {
  background: var(--gradient);
  text-align: center;
  color: var(--secondary-color);
  margin: 0;
  padding: 150px 20px 100px;
}
.hero h1 {
  font-weight: 600;
  font-size: 96px;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
}
h4 {
  color: var(--text-body-color);
}
.hero img {
  width: 150px;
  padding-bottom: 40px;
}
.btn-branding {
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 18px 54px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  padding: 18px 54px;
  font-size: 18px;
  border: 1px solid var(--branding-color);
  transition: all 150ms ease-in-out;
}
.btn-branding-outline:hover {
  color: white;
  background: var(--branding-color);
}
.btn-branding-secondary {
  color: white;
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 54px;
  font-size: 18px;
  margin-bottom: 30px;
  transition: all 200ms ease-in-out;
}
.project-description {
  padding: 35px 40px 0 20px;
}
.content-container {
  padding: 15px 20px;
}
.content {
  margin: 10px 0;
}
.content h1 {
  font-weight: 700;
  font-size: 64px;
}
.content h2 {
  font-weight: 600;
  font-size: 18px;
}
.content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.content p {
  font-size: 16px;
}
.content img {
  width: 560px;
}
.work-h1 {
  max-width: 800px;
}
.social-icons a {
  margin: 0 10px;
  background-color: var(--branding-color);
  color: white;
  padding: 12px 16px;
  font-size: 12px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.social-icons a:hover {
  color: var(--text-heading-color);
}
footer .email-link {
  text-decoration: none;
  color: var(--text-body-color);
  font-size: 24px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .footer-social-icons {
  text-align: center;
  padding-bottom: 60px;
}
footer .footer-social-icons a {
  margin: 0 10px;
  color: var(--branding-color);
  background: #f3fefd;
  padding: 12px 16px;
  font-size: 12px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .footer-social-icons a:hover {
  color: white;
  background: var(--branding-color);
}
footer p {
  text-align: center;
  font-size: 12px;
}
footer p a {
  color: var(--branding-color);
  font-weight: normal;
}
footer p a:hover {
  color: var(--branding-color);
}
footer .contact-box {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 30px 120px 30px;
  margin-bottom: 60px;
}
footer .contact-box h3 {
  font-weight: 700;
}
footer .contact-box p {
  text-align: left;
  font-size: 16px;
  margin: 0;
}
@media (max-width: 990px) {
  .logo {
    max-width: 270px;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 65px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .project-description {
    text-align: center;
    padding: 10px 20px;
  }
  .content {
    text-align: center;
    padding: 10px 20px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
  h4 {
    font-size: 16px;
  }
  footer .contact-box {
    padding: 30px 40px 0;
  }
  nav {
    font-size: 14px;
  }
}
@media (max-width: 782px) {
  .logo {
    max-width: 220px;
    margin-top: 20px;
  }
  nav {
    padding: 20px 90px;
  }
  .contact-box {
    display: block !important;
  }
}
@media (max-width: 634px) {
  nav {
    padding: 20px 45px;
  }
}
@media (max-width: 350px) {
  nav {
    font-size: 12px;
    padding: 20px;
  }
}

/* 
font-family: 'Poppins', sans-serif; 
regular font-weight: normal/400
medium font-weight: 500
semi-bold font-weight: 600
bold font-weight: 700
*/
