:root {
  --branding-color: #14f1d9;
  --secondary-color: #f9f7fe; /*nav bg and footer open to work color*/
  --tertiary-color: #f3fefd; /*light green - social icons*/
  --text-heading-color: #272142;
  --text-body-color: #6c757d;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.05) 20px 20px 50px;
  --gradient: radial-gradient(
    123.29% 71.1% at -4.83% 82.97%,
    #98f9d4 0%,
    #68c6c2 100%
  );
}
body {
  font-family: var(--default-font-family);
  color: var(--text-heading-color);
}
h2 {
  font-size: 60px;
  font-weight: 700;
}
h3 {
  font-size: 38px;
  line-height: 65px;
  font-weight: 600;
}
h4 {
  color: var(--text-body-color);
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 35px;
}
h5 {
  margin: 20px;
}
p {
  color: var(--text-body-color);
  font-size: 16px;
  line-height: 1.7em;
}
a {
  color: var(--text-body-color);
  font-weight: 500;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: var(--text-body-color);
}
.logo {
  max-width: 300px;
}
.container-fluid {
  padding: 30px !important;
}
nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
nav li {
  list-style: none;
  display: inline;
  line-height: 25px;
  margin: 20px 10px;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: var(--text-heading-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
.active {
  color: var(--branding-color);
}
.navbar-toggler {
  border: none;
}
/* border hamburger toggler */
.navbar-toggler:focus {
  color: var(--secondary-color);
}
.hamburger-menu {
  color: var(--branding-color);
}
.navbar-custom {
  background-color: var(--secondary-color);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--text-body-color);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}
.hero {
  background: var(--gradient);
  text-align: center;
  color: var(--secondary-color);
  padding: 80px 20px;
}
.hero h1 {
  font-weight: 600;
  font-size: 96px;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
}
.hero img {
  width: 150px;
  padding-bottom: 40px;
}
.btn-branding {
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 18px 54px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  padding: 18px 54px;
  font-size: 18px;
  border: 1px solid var(--branding-color);
  transition: all 150ms ease-in-out;
}
.btn-branding-outline:hover {
  color: white;
  background: var(--branding-color);
}
.btn-branding-secondary {
  color: white;
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 54px;
  font-size: 18px;
  margin-bottom: 30px;
  transition: all 200ms ease-in-out;
}
.project-description {
  padding: 35px 40px 0 20px;
}
.content-container {
  padding: 60px 20px;
}
.container-designlanguage {
  /* padding: 30px 120px; */
  padding: 30px;
}
.content-container-designlanguage {
  max-width: 1400px;
  /* text-align: center; */
  margin: 0 auto;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
}
.content h2 {
  font-size: 18px;
  font-weight: 600;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}
.content p {
  font-size: 16px;
}
.content-about {
  font-size: 38px;
}
.content-about i {
  color: var(--branding-color);
  font-size: 60px;
  margin: 0 0 20px;
}
.content-about-tech {
  background-color: var(--secondary-color);
  padding: 50px 0 80px !important;
  margin: 80px 0 40px;
}
.list-inline-item {
  margin: 0 1.5rem !important;
  padding: 0;
}
.iconsize {
  width: 56px !important;
}
.aboutnames p {
  font-size: 8px;
  margin-top: 7px;
}
.abouticons i {
  font-size: 60px;
}
.softskills {
  max-width: 250px;
}
.box {
  background-color: white;
  padding: 20px 0 40px;
  box-shadow: var(--box-shadow);
  text-align: center;
}
.quote {
  font-size: 24px;
  line-height: 42px;
  margin-top: 30px;
}
.social-icons a {
  margin: 0 10px;
  background-color: var(--branding-color);
  color: white;
  padding: 12px 16px;
  font-size: 10px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}
.social-icons a:hover {
  color: var(--text-heading-color);
}
.photocredits {
  font-size: 12px;
}
.fa-envelope {
  margin-right: 5px;
}
.dark-link,
.dark-link:hover {
  color: var(---text-heading-color);
}
footer .email-link {
  text-decoration: none;
  color: var(--text-body-color);
  font-size: 24px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .footer-social-icons {
  text-align: center;
  padding-bottom: 60px;
}
footer .footer-social-icons a {
  margin: 0 8px;
  color: var(--branding-color);
  background: var(--tertiary-color);
  padding: 10px 16px;
  font-size: 12px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .footer-social-icons a:hover {
  color: white;
  background: var(--branding-color);
}
footer p {
  text-align: center;
  font-size: 12px;
}
footer p a {
  color: var(--branding-color);
  font-weight: normal;
}
footer p a:hover {
  color: var(--branding-color);
}
footer .contact-box {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 30px 120px 30px;
  margin-bottom: 60px;
}
footer .contact-box h3 {
  font-weight: 700;
}
footer .contact-box p {
  text-align: left;
  font-size: 16px;
  margin: 0;
}
@media (max-width: 990px) {
  .logo {
    max-width: 250px !important;
    margin: 20px 5px;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 65px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .project-description {
    text-align: center;
    padding: 10px 20px;
  }
  .content {
    text-align: center;
    padding: 10px 20px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    margin-top: 45px;
    font-size: 24px;
    line-height: 34px;
  }
  h4 {
    font-size: 16px;
  }
  .softskillstext {
    max-width: 450px;
  }
  footer .contact-box {
    padding: 30px 40px 0;
  }
  footer .contact-box h3 {
    margin-top: 13px;
  }
  nav {
    padding: 20px 0;
  }

  nav li {
    margin: 10px 14px;
  }

  nav a {
    font-size: 14px;
  }

  li {
    margin: 10px;
  }
}
@media (max-width: 782px) {
  .logo {
    max-width: 220px;
    margin: 20px;
  }
  .contact-box {
    display: block !important;
  }
}
@media (max-width: 410px) {
  .content {
    margin: 0;
    padding: 0;
  }
  .content-container {
    padding: 30px 15px;
  }
  .content h1 {
    font-size: 55px;
    line-height: 65px;
  }
  .hero {
    padding: 40px 20px;
  }
  .hero h1 {
    font-size: 55px !important;
    line-height: 65px !important;
  }
  .logo {
    max-width: 200px !important;
    margin: 23px 5px 19px;
  }
}
/* 
font-family: 'Poppins', sans-serif; 
regular font-weight: normal/400
medium font-weight: 500
semi-bold font-weight: 600
bold font-weight: 700
*/
